<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>jsondns</title>
<meta name="description" content="Make DNS queries via REST." />
<meta name="keywords" content="json,dns" />
<meta name="author" content="Joel Franusic" />

<!-- Favicon -->
<link rel="shortcut icon" href="" />

</head>

<body>

<div id="container">
Try <a href="/IN/google.com/A">this</a>.
</div><!-- container -->

</body>
</html>