<!DOCTYPE html>
<html>
<head>
<title>jsondns</title>
<meta name="description" content="Make DNS queries via REST." />
<meta name="keywords" content="json,dns" />
<meta name="author" content="Joel Franusic" />

<!-- Favicon -->
<link rel="shortcut icon" href="" />
<style type="text/css">
<!--
body { font-family: Arial, sans-serif; }
div#by { font-size: 80%; color: #D3D3D3; }
div#by a {color: #D3D3D3; }
div#by a:hover { text-decoration: none; }
-->
</style>
</head>

<body>

<div id="container">
  <h2>dig.jsondns.org: Query DNS via REST.</h2>
  Examples:
  <ul><!-- sorted by name ... -->
    <li><a href="http://dig.jsondns.org/IN/bing.com/A">A record(s) for bing.com.</a></li>
    <li><a href="http://dig.jsondns.org/IN/bing.com/NS">NS record(s) for bing.com.</a></li>
    <li><a href="http://dig.jsondns.org/IN/yahoo.com/A">A record(s) for yahoo.com.</a></li>
    <li><a href="http://dig.jsondns.org/IN/yahoo.com/NS">NS record(s) for yahoo.com.</a></li>
    <li><a href="http://dig.jsondns.org/IN/google.com/A">A record(s) for google.com.</a></li>
    <li><a href="http://dig.jsondns.org/IN/google.com/NS">NS record(s) for google.com.</a></li>
    <li><a href="http://dig.jsondns.org/IN/tlrobinson.net/A?callback=jsonp">JSONP support</a></li>
 </ul>
 <div id="by">
 Written by <a href="http://joel.franusic.com">Jo&euml;l Franusic</a>. Code available on <a href="http://github.com/jpf/jsondns">github</a>.
 </div>
</div><!-- container -->

</body>
</html>